* {  
margin: 0px;
padding: 0px;
}
body {
	font-size: 120%;
	background: url(img/bgwl.jpg);
	background-size: none;
	background-position: center;
	font-family: sans-serif;
	position:center;
}

.header {
	width: 40%;
	margin: 50px auto 0px;
	color: ##35475e;
	background: #95a9c4;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form,.content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: #95a9c4;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
	background: #95a9c4;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 4px;
	
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
	background: #transparent;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
  background-color: #35475e;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 2;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: red; 
	background: transparent; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: right;
}

.profile_info div {
	display: inline-block; 
	margin: 5px;
}

.profile_info:after {
	content: "";
	display: block;
	clear: both;
}